@model List<Serie>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
        Menu Series
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach(Serie ser in Model)
            {
                <a asp-controller="Series"
                   asp-action="DetallesSerie"
                   asp-route-idSerie="@ser.IdSerie"
                   class="dropdown-item">
                    @ser.NombreSerie
                </a>
            }
    </div>
</div>